@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap'); /* 'Allura'*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 'Poppins' */


:root{

    --fonte-destaque: 'Allura', 'cursive';
    --fonte-padrao: 'Poppins', Arial, sans-serif;

    --cor1: #000000;
    --cor2: #fff;
    --cor3: #F37521;
    --cor4: #616283;
    --cor5: #637081;

}

* {
    margin: 0px;
    padding: 0px;

}

body{
    background-color: var(--cor1);
    height: 100vh;
}


header{
    padding: 20px;
    text-align: center;
}


header > h1{
    font-size: 80px;
    font-family: var(--fonte-destaque);
}

a{
    text-decoration: none;
    transition-duration: 0.8s;
}

a:hover{
    text-decoration: none;
    transition: 0.8s;
    background-color: var(--cor2);
    padding: 5px;
    border-radius: 10px;
}

a#frank{
    text-decoration: underline;
    color: var(--cor1);
    padding: 5px;
} 

header > p{
    font-family: var(--fonte-destaque);
    font-size: 30px;
}

.letter{
    font-family: var(--fonte-padrao);
    font-weight: bold;
    padding: 35px;
}

.letter p{
    font-size: 30px;
}

#sec1{
    text-align: left;
    background-image: linear-gradient(180deg, var(--cor3) 65%, var(--cor2));
    
}

#sec2{
    text-align: left;
    max-height: 850px;
    background-color: var(--cor2);
    background-image: url('images/frank1.png');
    background-position: top right;
    background-repeat: no-repeat;
}

#sec2 ul{
    max-width: 600px;
    padding: 15px;
}

#sec3{
    background-image: linear-gradient(360deg, var(--cor3) 60%, var(--cor2) );
}

#divisao{
    margin-top: 40px;
}

#sec4{
    background-color: var(--cor3);
}

#sec5{
    background-color: var(--cor3) ;
    background-image: url(images/frank2.png);
    background-repeat: no-repeat;
    background-position: center right;
    height: 400px;
}

#sec5 ul{
    max-width: fit-content;
}

footer{
    max-height: fit-content;
    padding: 5px;
    background-color: var(--cor5);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    font-family: var(--fonte-padrao);
    color: var(--cor2);
}

a#github{
    text-decoration: underline;
    color: var(--cor3);
    padding: 5px;
}


#github-img{
    position: relative;
    height: 20px;
}

@media screen and (max-width:1300px){

    #sec2 ul{
        border-radius: 10px;
        padding: 5px;
    }
}


@media screen and (max-width:1000px){

    #sec2 {
        background-position: center right 40%;
    }

    #sec2 ul{
        box-shadow: 0px 0px 10px var(--cor1);
        border-radius: 10px;
        padding: 5px;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        }

    #sec2 p{
        color: var(--cor2);
    }
    
    #sec5{
        background-position: center right 30%;
    }

    .letter p{
        font-size: 25px;
    }

}

@media screen and (max-width: 620px){

    #sec5{
        background-position: center right;
    }

    #sec5 ul{
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 10px;
    }

    #sec5 p{
        color: var(--cor2);
    }

}