@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap'); /* 'Allura'*/

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Junge&display=swap'); /* 'Junge' */



:root{

    --fonte-destaque: 'Allura', 'cursive';
    --fonte-padrao: 'Junge', Arial, sans-serif;

    --cor1: #000000;
    --cor2: #fff;
    --cor3: #FFC0CB;
    --cor4: #616283;
    --cor5: #637081;

}

* {
    margin: 0px;
    padding: 0px;

}

body{
    background-color: #261d05;
    height: 100vh;
}

a#frank{
    text-decoration: none;
    color: black;
}

header{
    background-image: linear-gradient(45deg, var(--cor2) 10%, var(--cor3));
    padding: 20px;
    text-align: center;
}


header > h1{
    font-size: 80px;
    font-family: var(--fonte-destaque);
}

header > p{
    font-family: var(--fonte-destaque);
    font-size: 30px;
}


.letter{
    font-family: var(--fonte-padrao);
    padding: 35px;
}

.letter p{
    font-size: 30px;
}

#sec1{
    text-align: left;
    background-image: linear-gradient(45deg, var(--cor2) 25%, #FFCCD5);
    
}

#sec2{
    text-align: left;
    max-height: 850px;
    background-color: var(--cor2);
    background-image: url('images/frank1.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.letter p{
    text-shadow: 8px 12px 20px  black;
}

#sec3{
    background-image: linear-gradient(360deg, var(--cor3), var(--cor2) 50%);
}

#sec4{

    background-color: var(--cor3) ;
    background-image: url(images/frank2.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 280px;
}


footer{
    max-height: fit-content;
    padding: 20px;
    background-color: var(--cor1);
    text-align: center;
}

footer p{
    font-family: var(--fonte-padrao);
    color: white;
}

@media screen and (max-width:1300px){
    #sec1{
        background-image: linear-gradient(45deg, var(--cor2) 25%, #FFCCD5);
    }
    #sec2{
        background-position: 50px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
    }
}

@media screen and (max-width:800px){
    #sec1{
        background-image: linear-gradient(45deg, var(--cor2) 45%, #FFCCD5);
    }
    #sec2 {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #sec2 ul{
        box-shadow: 0px 0px 20px black;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        padding: 5px;
    }

    #sec4 ul{
        box-shadow: 0px 0px 20px black;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        padding: 5px;
    }


    header > h1{
        font-size: 60px;
    }

    header > p{
        font-size: 20px;
    }
}

